<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get Session</title>
</head>
<body>
    <h3>Name : {{name}}</h3>
    <h2>Test coookies worked or not  : {{request.session.test_cookie_worked}}</h2>
    <h2>Expary date  : {{request.session.get_expiry_date}}</h2>
    <h2>Expary date at Browser close or not  : {{request.session.get_expire_at_browser_close}}</h2>
</body>
</html>